


.bannerComponent {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.bannerComponent img {
  max-width: 100%;
  height: auto;
}

@media(max-width: 800px) {
  .bannerComponent {
    flex-direction: column; 
    align-items: center; 
  }
}