* {
  font-family: 'Montserrat', sans-ser;
  box-sizing: border-box;

  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-ser;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
  font-size: 14px;
}

.wrapper {
  padding-top: 60px;
  max-width: 1920px;
  max-height: 1284px;
  padding-left: 150px;
  padding-right: 200px;
}

.titleBaner {
  font-size: 24px;
  font-weight: 600;
}

.specGive {
  background-color: #272727;
  width: 950px;
  height: 140px;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.line {
  margin-top: 100px;
  border: 1px solid #454545;
  width: 100%;
}

@media (max-width: 1850px) {
  .content {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media (max-width: 800px) {
  .content {
    margin-left: -150px;
    margin-right: -200px;
  }
}

@media (max-width: 800px) {
  .content .titleBanerBlock {
    margin-top: 10px !important;
  }
  .content .title {
    margin-bottom: 10px !important;
  }
}

@media (max-width: 1850px) {
  .wrapper {
    padding-top: 0px;
  }
}
